.lang-link {
    color: #ffffff;
    text-decoration: none;
    line-height: 1.11;
    font-size: 18px;
    font-weight: 400;
    margin-left: 18px;
}

.lang-link_active {
    text-decoration: underline;
}

.lang-link_notactive {
    color: #2A2C2F;
}

@media screen and (min-width: 768px) {
    .lang-link {
        font-size: 24px;
        line-height: 1.17;
    }
}

@media screen and (min-width: 768px) {
    .lang-link_notactive {
        color: #FFFFFF;
    }
}