.intro {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
}
    

@media screen and (min-width: 768px) {
    .intro {
        padding-top: 88px;
        margin-left: 24px;
        margin-right: 24px;
    }

}

@media screen and (min-width: 1024px) {
    .intro {
        margin-right: 286px;
        margin-left: 48px;
        padding-top: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .intro{
        margin-right: 442px;
        margin-left: 148px;
    }
}