
    .place {
        display: grid;
        list-style-type: none;
        display:inline-grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
  

    @media screen and (min-width: 768px) {
        .place {
            grid-template-areas: "place__title place__website" "place__image place__paragraph" "place__image place__paragraph";
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 28px;
            grid-row-gap: 25px;
            margin-bottom: 90px;
            
        }
    }

    @media screen and (min-width: 768px) {
        .place:last-of-type {
            grid-template-rows: auto;
            grid-template-columns: repeat(2, auto);
        }
    }

    @media screen and (min-width: 1024px) {
        .place {
            margin-bottom: 92px;
        }
    }